.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.mat-card-title {
  display: flex;
  justify-content: center;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.login-error {
  color: #F00;
  font-size: .8em;
}
